/* #root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #23252C;
} */

body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #23252C;
}

.header{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.name, .description{
text-align: center;
}

.socials {
  display: flex;
  text-align: center;
  padding: 20px;
  background-color: blue;;
}

.socials > button {
  border-radius: 6px;
  width: 115px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 9px 13px 9px 11px;
  margin: 0 auto;
}

.portrait-image{
  width: 317px;
  height: 317px;
  border-radius: 10px 10px 0px 0px;
}

.main-card{
  background-color: #F5F5F5;
  border-radius: 10px;
  margin: auto;
  height: 800px;
  width: 317px;
  
}

.intro {
  background-color: yellow;
  margin: 30px;
}

.about--description, .interests--description{
  font-size: 10.24px
}

.footer{
  background-color: #D5D4D8;
}